/* ---------- BODY ---------- */
body {
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
}

/* ---------- TEXT ---------- */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
.w3-bar,
h1,
button {
  font-family: "Montserrat", sans-serif;
}
h2 {
  margin-top: 200px;
  font-size: 100px;
}
.fa-anchor,
.fa-coffee {
  font-size: 200px;
}

/* ---------- NAVBAR ---------- */
.topnav {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}
.sticky {
  background-color: rgba(0, 0, 0, 0.472);
}

/* links */
.topnav a {
  float: left;
  color: #dddddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Clinks on hover */
.topnav a:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* active/current link */
.topnav a.active {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* ---------- HEADER ---------- */
.header-image {
  padding: 128px 16px;
  height: calc(100vh - 256px);

  /* Use "linear-gradient" to add a darken background effect to the image (home.jpeg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("home.jpeg");

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.header-text {
  text-align: center;
  position: absolute;
  font-size: xx-large;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* ---------- BLOCK ---------- */
.block {
  min-height: 60vh;
  width: 100%;
  text-align: center;
}
.center-paragraph {
  width: 80%;
  margin-left: 10%;
  font-size: 30px;
} /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
/* Facebook */
.fa-facebook {
  /* background: #3b5998;
  color: white; */
  background: white;
  color: rgb(90, 90, 90);
}
/* LinkedIn */
.fa-linkedin {
  /* background: #55acee;
  color: white; */
  background: white;
  color: rgb(90, 90, 90);
}
/* Instagram */
.fa-instagram {
  /* background: #c02e2e;
  color: white; */
  background: white;
  color: rgb(90, 90, 90);
}

/* ---------- EDUCATION ---------- */
.column {
  text-align: left;
  float: left;
  width: calc(33.33% - 100px);
  min-height: 300px;
  padding: 50px;
  color: white;
}
/* Rounded border */
hr.rounded {
  border-top: 8px solid rgb(255, 255, 255);
  border-radius: 5px;
  width: 50px;
  margin-left: 0;
}

/* ---------- WORK EXPERIENCE ---------- */
/* The actual timeline (the vertical ruler) */
.timeline {
  background-color: #cccccc;
  position: relative;
  width: 100%;
  text-align: left;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: calc(50% - 80px);
}
/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #313131;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* Place the container to the left */
.left {
  left: 0;
}
/* Place the container to the right */
.right {
  left: 50%;
}
/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}
/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* ---------- PORTFOLIO ---------- */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column-portfolio {
  width: calc(33.33% - 10px);
  padding: 5px;
}
.column-portfolio img {
  margin-top: 8px;
  vertical-align: middle;
}

/* ---------- CONTACT ---------- */
.column-contact-left,
.column-contact-right {
  text-align: left;
  float: left;
  width: calc(50% - 100px);
  min-height: 300px;
  padding: 50px;
}
.column-ipsum-left {
  text-align: left;
  float: left;
  width: 70%;
}
.column-ipsum-right {
  text-align: left;
  float: left;
  width: 30%;
}
.column-contact-left,
.column-contact-right p {
  margin-top: 10%;
  text-align: center;
}
.column-contact-left,
.column-contact-right p {
  margin-top: 0;
  text-align: left;
}
.column-contact-left h3 {
  text-align: center;
  font-size: 50px;
}
.column-contact-right h3 {
  text-align: left;
  font-size: 30px;
}
hr.global {
  margin-top: 200px;
  border-top: 58px solid rgb(177, 177, 177);
  width: 100%;
  margin-left: 0;
}
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}
